<header class="template-header">
	<div class="header-feature">
		{{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '75','showBtn': false})|raw}}
	</div>
</header>

<div class="main-wrap">
	{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
	<nav class="template-nav">
		{{widget('extendednavigation', 'navigationheader', {})|raw}}
	</nav>